<a href="login">Sign out</a>
<p (click)="sound()">EMAIL: {{profileService.getAcc()._email}}</p>
<p>IS ADMIN: {{profileService.getAcc()._isAdmin}}</p>

<div *ngIf="profileService.isAdmin()">
	<p>This element is only visible if the user is an admin</p>
</div>

<div *ngIf="weather">
<h1 id="title">Weather System</h1>
<h3> Select your location</h3>

<select name="location" id="location">
	<option *ngFor="let city of getCityList()" >{{city.name}}</option>
</select>

<hr>
<h1>Warnings</h1>

<h2 class="warnings">Precipitation : {{this.precipitationWarning}}</h2>
<h2 class="warnings">Temperature : {{this.tempWarning}}</h2>
<h2 class="warnings">Soil Frost : {{this.frostWarning}}</h2>

<hr>

<h1>Forecast</h1>

<table class="forecastTable">
	<thead>
	<tr>
		<th></th>
		<th>Today</th>
		<th>Day 1</th>
		<th>Day 2</th>
		<th>Day 3</th>
		<th>Day 4</th>
		<th>Day 5</th>
		<th>Day 6</th>
		<th>Day 7</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td class="firstRow">Min temp (K)</td>
		<td *ngFor="let day of getMinTemps()">{{day}}</td>
	</tr>
	<tr>
		<td class="firstRow">Max temp (K)</td>
		<td *ngFor="let day of getMaxTemps()">{{day}}</td>
	</tr>
	<tr>
		<td class="firstRow">Wind speed (M/s)</td>
		<td *ngFor="let day of getWindSpeed()">{{day}}</td>
	</tr>
	<tr>
		<td class="firstRow">Wind direction (Degrees)</td>
		<td *ngFor="let day of getWindDirection()">{{day}}</td>
	</tr>
	</tbody>
</table>


<hr>

<h1>Long Term History</h1>
	<table class="forecastTable">
		<thead>
		<tr>
			<th></th>
			<th>January</th>
			<th>February</th>
			<th>March</th>
			<th>April</th>
			<th>May</th>
			<th>June</th>
			<th>July</th>
			<th>August</th>
			<th>September</th>
			<th>October</th>
			<th>November</th>
			<th>December</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="firstRow">Temperature</td>
			<td *ngFor="let temp of getTemperatures()">{{temp}}</td>
		</tr>
		<tr>
			<td class="firstRow">Precipitation</td>
			<td *ngFor="let precipitation of getPrecipitations()">{{precipitation}}</td>
		</tr>
		</tbody>
	</table>
</div>
